<form method="post" action="{{ path('app_admin_tarif_consultation_delete', {'id': tarif_consultation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tarif_consultation.id) }}">
    <button class="btn">Delete</button>
</form>
