
    <footer class="footer-wrapper footer-layout3" data-bg-src="assets/img/bg/footer-bg3.png">
        <div class="widget-area">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-6 col-xxl-3 col-xl-3">
                        <div class="widget footer-widget">
                            <div class="th-widget-about">
                                <div class="about-logo">
                                    <a href="index.html"><img src="assets/img/logo-2.svg" alt="Ruffer"></a>
                                </div>
                                <p class="about-text">However, in general, a roofing company is Business that specializes in installing, Repairing, and maintaining roofs for website should be focused.</p>
                                <div class="th-social">
                                    <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="https://www.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget widget_nav_menu footer-widget">
                            <h3 class="widget_title">Our Services</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="service.html">Residential roofing</a></li>
                                    <li><a href="service.html">Commercial Roofing</a></li>
                                    <li><a href="service.html">Commercial Roofing</a></li>
                                    <li><a href="service.html">Vegetative Roofing</a></li>
                                    <li><a href="service.html">Built-Up Roofing</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget footer-widget">
                            <h3 class="widget_title">Recent Posts</h3>
                            <div class="recent-post-wrap">
                                <div class="recent-post">
                                    <div class="media-img">
                                        <a href="blog-details.html"><img src="assets/img/widget/footer-widget_1_1.jpg" alt="Blog Image"></a>
                                    </div>
                                    <div class="media-body">
                                        <div class="recent-post-meta">
                                            <a href="blog.html"><i class="fal fa-calendar-days"></i>21 June, 2023</a>
                                        </div>
                                        <h4 class="post-title"><a class="text-inherit" href="blog-details.html">The solution to your Roof problems</a></h4>
                                    </div>
                                </div>
                                <div class="recent-post">
                                    <div class="media-img">
                                        <a href="blog-details.html"><img src="assets/img/widget/footer-widget_1_2.jpg" alt="Blog Image"></a>
                                    </div>
                                    <div class="media-body">
                                        <div class="recent-post-meta">
                                            <a href="blog.html"><i class="fal fa-calendar-days"></i>22 June, 2023</a>
                                        </div>
                                        <h4 class="post-title"><a class="text-inherit" href="blog-details.html">Quick and efficient Roof repairs.</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget footer-widget">
                            <h3 class="widget_title">Contact Now</h3>
                            <div class="th-widget-contact">
                                <h6 class="info-box_title">Office Location</h6>
                                <div class="info-box">
                                    <div class="info-box_icon">
                                        <i class="far fa-location-dot"></i>
                                    </div>
                                    <p class="info-box_text">
                                        2118 Thornridge Cir. Syracuse, Connecticut 35624
                                    </p>
                                </div>
                                <h6 class="info-box_title">Office Info</h6>
                                <div class="info-box">
                                    <div class="info-box_icon">
                                        <i class="far fa-phone"></i>
                                    </div>
                                    <a href="tel:+11234567890" class="info-box_link">+111 (564) 568 256</a>
                                </div>
                                <div class="info-box">
                                    <div class="info-box_icon">
                                        <i class="far fa-envelope-open"></i>
                                    </div>
                                    <a href="mailto:info@Ruffer.com" class="info-box_link">quick.help@gmail.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap bg-title">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-6">
                        <p class="copyright-text">© 2023 All Rights Reserved <a href="https://themeforest.net/user/themeholy">Ruffer</a></p>
                    </div>
                    <div class="col-md-6 text-end d-none d-md-block">
                        <div class="footer-links">
                            <ul>
                                <li><a href="about.html">Privacy Policy</a></li>
                                <li><a href="about.html">Terms & Condition</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
        <div class="scroll-top">
            <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
                <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
            </svg>
        </div>