<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Message de PACAP DETAIL</title>
    <link rel="stylesheet" type="text/css" href="https://pacap-detail.fr//mails/themes/classic/assets/email.css">

    <style>
		/****** responsive ********/
		@media only screen and (max-width: 300px){
			body {
				width:218px !important;
				margin:auto !important;
			}
			thead, tbody{width: 100%}
			.table {width:195px !important;margin:auto !important;}
			.logo, .titleblock, .linkbelow, .box, .footer, .space_footer{width:auto !important;display: block !important;}
			span.title{font-size:20px !important;line-height: 23px !important}
			span.subtitle{font-size: 14px !important;line-height: 18px !important;padding-top:10px !important;display:block !important;}
			td.box p{font-size: 12px !important;font-weight: bold !important;}
			.table-recap table, .table-recap thead, .table-recap tbody, .table-recap th, .table-recap td, .table-recap tr {
				display: block !important;
			}
			.table-recap{width: 200px!important;}
			.table-recap tr td, .conf_body td{text-align:center !important;}
			.address{display: block !important;margin-bottom: 10px !important;}
			.space_address{display: none !important;}
		}

		@media only screen and (min-width: 301px) and (max-width: 500px) {
			body {width:425px!important;margin:auto!important;}
			thead, tbody{width: 100%}
			.table {margin:auto!important;}
			.logo, .titleblock, .linkbelow, .box, .footer, .space_footer{width:auto!important;display: block!important;}
			.table-recap{width: 295px !important;}
			.table-recap tr td, .conf_body td{text-align:center !important;}
			.table-recap tr th{font-size: 10px !important}

		}

		@media only screen and (min-width: 501px) and (max-width: 768px) {
			body {width:478px!important;margin:auto!important;}
			thead, tbody{width: 100%}
			.table {margin:auto!important;}
			.logo, .titleblock, .linkbelow, .box, .footer, .space_footer{width:auto!important;display: block!important;}
		}


		/* Mobile */

		@media only screen and (max-device-width: 480px) {
			body {width:340px!important;margin:auto!important;}
			thead, tbody{width: 100%}
			.table {margin:auto!important;}
			.logo, .titleblock, .linkbelow, .box, .footer, .space_footer{width:auto!important;display: block!important;}

			.table-recap{width: 295px!important;}
			.table-recap tr td, .conf_body td{text-align:center!important;}
			.address{display: block !important;margin-bottom: 10px !important;}
			.space_address{display: none !important;}
		}
    </style>
</head>
<body style="background-color: #ffffff; width: 650px; margin: auto; font-family: 'Open-sans', sans-serif; color: #555454; font-size: 13px; line-height: 18px; -webkit-text-size-adjust: none;" bgcolor="#ffffff" width="650">
<table class="table table-mail" style="width: 100%; margin-top: 10px; -moz-box-shadow: 0 0 5px #afafaf; -webkit-box-shadow: 0 0 5px #afafaf; -o-box-shadow: 0 0 5px #afafaf; box-shadow: 0 0 5px #afafaf; filter: progid:DXImageTransform.Microsoft.Shadow(color=#afafaf, Direction=134, Strength=5);" width="100%">
    <tr>
        <td class="space" style="width: 20px;" width="20"> </td>
        <td align="center">
            <table class="table" bgcolor="#ffffff" style="width: 100%;" width="100%">
                <tr>
                    <td align="center" class="logo" style="border-bottom: 4px solid #333333">
                        <a title="PACAP DETAIL" href="https://pacap-detail.fr/fr/" test="https://pacap-detail.fr/fr/" style="color: #337ff1;">
                            <img src="https://pacap-detail.fr/img/a-logo_mail-1617789813.jpg" alt="PACAP DETAIL">
                        </a>
                    </td>
                </tr>

                <tr>
                    <td align="center" class="titleblock">
                        <font size="2" face="Open-sans, sans-serif" color="#555454">
                            <span class="title" style="font-weight: 500; font-size: 28px; text-transform: uppercase; line-height: 33px;">Bonjour Chartier Nicolas,</span><br>
                            <span class="subtitle" style="font-weight: 500; font-size: 16px; text-transform: uppercase; line-height: 25px;">Merci d'avoir effectué vos achats sur PACAP DETAIL!</span>
                        </font>
                    </td>
                </tr>
                <tr>
                    <td class="space_footer" style="padding: 0 !important;"> </td>
                </tr>
                <tr>
                    <td class="box" style="background-color: #f8f8f8; border: 1px solid #D6D4D4;" bgcolor="#f8f8f8">
                        <table class="table" style="width: 100%;" width="100%">
                            <tr>
                                <td width="10"> </td>
                                <td>
                                    <font size="2" face="Open-sans, sans-serif" color="#555454">

                                        <p style="margin: 3px 0 7px 0; text-transform: uppercase; font-weight: 500; font-size: 18px; padding-bottom: 10px; border-bottom: 1px solid #D6D4D4;">
                                            Détails de la commande
                                        </p>

                                        <span style="color: #777777;">
              <span style="color: #333333;"><strong>Commande :</strong></span> UYNMIUDGD passée le 05/07/2023 22:02:58<br><br>
              <span style="color: #333333;"><strong>Paiement :</strong></span> Card via Stripe
            </span>
                                    </font>
                                </td>
                                <td width="10"> </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font size="2" face="Open-sans, sans-serif" color="#555454">
                            <table class="table table-recap" bgcolor="#ffffff" style="width: 100%; border-collapse: collapse;" width="100%">
                                <!-- Title -->
                                <tr>
                                    <th bgcolor="#fbfbfb" style="border:1px solid #D6D4D4;background-color: #fbfbfb;color: #333;font-family: Arial;font-size: 13px;padding: 10px;">Référence</th>
                                    <th bgcolor="#fbfbfb" style="border:1px solid #D6D4D4;background-color: #fbfbfb;color: #333;font-family: Arial;font-size: 13px;padding: 10px;">Produit</th>
                                    <th bgcolor="#fbfbfb" style="border:1px solid #D6D4D4;background-color: #fbfbfb;color: #333;font-family: Arial;font-size: 13px;padding: 10px;" width="17%">Prix unitaire</th>
                                    <th bgcolor="#fbfbfb" style="border:1px solid #D6D4D4;background-color: #fbfbfb;color: #333;font-family: Arial;font-size: 13px;padding: 10px;">Quantité</th>
                                    <th bgcolor="#fbfbfb" style="border:1px solid #D6D4D4;background-color: #fbfbfb;color: #333;font-family: Arial;font-size: 13px;padding: 10px;" width="17%">Prix total</th>
                                </tr>
                                <tr>
                                    <td style="border:1px solid #D6D4D4;">
                                        <table class="table">
                                            <tr>
                                                <td width="5">&nbsp;</td>
                                                <td>
                                                    <font size="2" face="Open-sans, sans-serif" color="#555454">
                                                        S-46-M
                                                    </font>
                                                </td>
                                                <td width="5">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="border:1px solid #D6D4D4;">
                                        <table class="table">
                                            <tr>
                                                <td width="5">&nbsp;</td>
                                                <td>
                                                    <font size="2" face="Open-sans, sans-serif" color="#555454">
                                                        <strong>Jupe Trapèze Noire Évasée T.U. Femme Motif Fantaisie - ARIONA - Taille : T.U. (du 34 au 46)- Jupe : Moyenne</strong>


                                                    </font>
                                                </td>
                                                <td width="5">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="border:1px solid #D6D4D4;">
                                        <table class="table">
                                            <tr>
                                                <td width="5">&nbsp;</td>
                                                <td align="right">
                                                    <font size="2" face="Open-sans, sans-serif" color="#555454">
                                                        32,00 €
                                                    </font>
                                                </td>
                                                <td width="5">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="border:1px solid #D6D4D4;">
                                        <table class="table">
                                            <tr>
                                                <td width="5">&nbsp;</td>
                                                <td align="right">
                                                    <font size="2" face="Open-sans, sans-serif" color="#555454">
                                                        1
                                                    </font>
                                                </td>
                                                <td width="5">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="border:1px solid #D6D4D4;">
                                        <table class="table">
                                            <tr>
                                                <td width="5">&nbsp;</td>
                                                <td align="right">
                                                    <font size="2" face="Open-sans, sans-serif" color="#555454">
                                                        32,00 €
                                                    </font>
                                                </td>
                                                <td width="5">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border:1px solid #D6D4D4;">
                                        <table class="table">
                                            <tr>
                                                <td width="5">&nbsp;</td>
                                                <td>
                                                    <font size="2" face="Open-sans, sans-serif" color="#555454">
                                                        S-57-M
                                                    </font>
                                                </td>
                                                <td width="5">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="border:1px solid #D6D4D4;">
                                        <table class="table">
                                            <tr>
                                                <td width="5">&nbsp;</td>
                                                <td>
                                                    <font size="2" face="Open-sans, sans-serif" color="#555454">
                                                        <strong>Jupe Multi-Taille 2 en 1 Noire et Blanche Pois Style Aborigène - PAOLA - Taille : T.U. (du 34 au 46)- Jupe : Moyenne</strong>


                                                    </font>
                                                </td>
                                                <td width="5">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="border:1px solid #D6D4D4;">
                                        <table class="table">
                                            <tr>
                                                <td width="5">&nbsp;</td>
                                                <td align="right">
                                                    <font size="2" face="Open-sans, sans-serif" color="#555454">
                                                        32,00 €
                                                    </font>
                                                </td>
                                                <td width="5">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="border:1px solid #D6D4D4;">
                                        <table class="table">
                                            <tr>
                                                <td width="5">&nbsp;</td>
                                                <td align="right">
                                                    <font size="2" face="Open-sans, sans-serif" color="#555454">
                                                        1
                                                    </font>
                                                </td>
                                                <td width="5">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="border:1px solid #D6D4D4;">
                                        <table class="table">
                                            <tr>
                                                <td width="5">&nbsp;</td>
                                                <td align="right">
                                                    <font size="2" face="Open-sans, sans-serif" color="#555454">
                                                        32,00 €
                                                    </font>
                                                </td>
                                                <td width="5">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>


                                <tr class="conf_body">
                                    <td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0">
                                        <table class="table" style="width:100%;border-collapse:collapse">
                                            <tr>
                                                <td width="5" style="color:#333;padding:0"></td>
                                                <td align="right" style="color:#333;padding:0">
                                                    <font size="2" face="Open-sans, sans-serif" color="#555454">
                                                        <strong>Promo code</strong>
                                                    </font>
                                                </td>
                                                <td width="5" style="color:#333;padding:0"></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0">
                                        <table class="table" style="width:100%;border-collapse:collapse">
                                            <tr>
                                                <td width="5" style="color:#333;padding:0"></td>
                                                <td align="right" style="color:#333;padding:0">
                                                    <font size="2" face="Open-sans, sans-serif" color="#555454">
                                                        -5,00 €
                                                    </font>
                                                </td>
                                                <td width="5" style="color:#333;padding:0"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>


                                <tr class="conf_body">
                                    <td bgcolor="#f8f8f8" colspan="4" style="color: #333333; border: 1px solid #D6D4D4;">
                                        <table class="table" style="width: 100%; border-collapse: collapse;" width="100%">
                                            <tr>
                                                <td width="10" style="padding: 0; color: #333333;"> </td>
                                                <td align="right" style="padding: 0; color: #333333;">
                                                    <font size="2" face="Open-sans, sans-serif" color="#555454">
                                                        <strong>Produits</strong>
                                                    </font>
                                                </td>
                                                <td width="10" style="padding: 0; color: #333333;"> </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td bgcolor="#f8f8f8" align="right" colspan="4" style="color: #333333; border: 1px solid #D6D4D4;">
                                        <table class="table" style="width: 100%; border-collapse: collapse;" width="100%">
                                            <tr>
                                                <td width="10" style="padding: 0; color: #333333;"> </td>
                                                <td align="right" style="padding: 0; color: #333333;">
                                                    <font size="2" face="Open-sans, sans-serif" color="#555454">
                                                        2
                                                    </font>
                                                </td>
                                                <td width="10" style="padding: 0; color: #333333;"> </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="conf_body">
                                    <td bgcolor="#f8f8f8" colspan="4" style="color: #333333; border: 1px solid #D6D4D4;">
                                        <table class="table" style="width: 100%; border-collapse: collapse;" width="100%">
                                            <tr>
                                                <td width="10" style="padding: 0; color: #333333;"> </td>
                                                <td align="right" style="padding: 0; color: #333333;">
                                                    <font size="2" face="Open-sans, sans-serif" color="#555454">
                                                        <strong>Réductions</strong>
                                                    </font>
                                                </td>
                                                <td width="10" style="padding: 0; color: #333333;"> </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td bgcolor="#f8f8f8" colspan="4" style="color: #333333; border: 1px solid #D6D4D4;">
                                        <table class="table" style="width: 100%; border-collapse: collapse;" width="100%">
                                            <tr>
                                                <td width="10" style="padding: 0; color: #333333;"> </td>
                                                <td align="right" style="padding: 0; color: #333333;">
                                                    <font size="2" face="Open-sans, sans-serif" color="#555454">
                                                        0,00 €
                                                    </font>
                                                </td>
                                                <td width="10" style="padding: 0; color: #333333;"> </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="conf_body">
                                    <td bgcolor="#f8f8f8" colspan="4" style="color: #333333; border: 1px solid #D6D4D4;">
                                        <table class="table" style="width: 100%; border-collapse: collapse;" width="100%">
                                            <tr>
                                                <td width="10" style="padding: 0; color: #333333;"> </td>
                                                <td align="right" style="padding: 0; color: #333333;">
                                                    <font size="2" face="Open-sans, sans-serif" color="#555454">
                                                        <strong>Paquet cadeau</strong>
                                                    </font>
                                                </td>
                                                <td width="10" style="padding: 0; color: #333333;"> </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td bgcolor="#f8f8f8" colspan="4" style="color: #333333; border: 1px solid #D6D4D4;">
                                        <table class="table" style="width: 100%; border-collapse: collapse;" width="100%">
                                            <tr>
                                                <td width="10" style="padding: 0; color: #333333;"> </td>
                                                <td align="right" style="padding: 0; color: #333333;">
                                                    <font size="2" face="Open-sans, sans-serif" color="#555454">
                                                        0,00 €
                                                    </font>
                                                </td>
                                                <td width="10" style="padding: 0; color: #333333;"> </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="conf_body">
                                    <td bgcolor="#f8f8f8" colspan="4" style="color: #333333; border: 1px solid #D6D4D4;">
                                        <table class="table" style="width: 100%; border-collapse: collapse;" width="100%">
                                            <tr>
                                                <td width="10" style="padding: 0; color: #333333;"> </td>
                                                <td align="right" style="padding: 0; color: #333333;">
                                                    <font size="2" face="Open-sans, sans-serif" color="#555454">
                                                        <strong>Livraison</strong>
                                                    </font>
                                                </td>
                                                <td width="10" style="padding: 0; color: #333333;"> </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td bgcolor="#f8f8f8" colspan="4" style="color: #333333; border: 1px solid #D6D4D4;">
                                        <table class="table" style="width: 100%; border-collapse: collapse;" width="100%">
                                            <tr>
                                                <td width="10" style="padding: 0; color: #333333;"> </td>
                                                <td align="right" style="padding: 0; color: #333333;">
                                                    <font size="2" face="Open-sans, sans-serif" color="#555454">
                                                        7,50 €
                                                    </font>
                                                </td>
                                                <td width="10" style="padding: 0; color: #333333;"> </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="conf_body">
                                    <td bgcolor="#f8f8f8" colspan="4" style="color: #333333; border: 1px solid #D6D4D4;">
                                        <table class="table" style="width: 100%; border-collapse: collapse;" width="100%">
                                            <tr>
                                                <td width="10" style="padding: 0; color: #333333;"> </td>
                                                <td align="right" style="padding: 0; color: #333333;">
                                                    <font size="2" face="Open-sans, sans-serif" color="#555454">
                                                        <strong>TVA totale</strong>
                                                    </font>
                                                </td>
                                                <td width="10" style="padding: 0; color: #333333;"> </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td bgcolor="#f8f8f8" colspan="4" style="color: #333333; border: 1px solid #D6D4D4;">
                                        <table class="table" style="width: 100%; border-collapse: collapse;" width="100%">
                                            <tr>
                                                <td width="10" style="padding: 0; color: #333333;"> </td>
                                                <td align="right" style="padding: 0; color: #333333;">
                                                    <font size="2" face="Open-sans, sans-serif" color="#555454">
                                                        10,66 €
                                                    </font>
                                                </td>
                                                <td width="10" style="padding: 0; color: #333333;"> </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="conf_body">
                                    <td bgcolor="#f8f8f8" colspan="4" style="color: #333333; border: 1px solid #D6D4D4;">
                                        <table class="table" style="width: 100%; border-collapse: collapse;" width="100%">
                                            <tr>
                                                <td width="10" style="padding: 0; color: #333333;"> </td>
                                                <td align="right" style="padding: 0; color: #333333;">
                                                    <font size="2" face="Open-sans, sans-serif" color="#555454">
                                                        <strong>Total payé</strong>
                                                    </font>
                                                </td>
                                                <td width="10" style="padding: 0; color: #333333;"> </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td bgcolor="#f8f8f8" colspan="4" style="color: #333333; border: 1px solid #D6D4D4;">
                                        <table class="table" style="width: 100%; border-collapse: collapse;" width="100%">
                                            <tr>
                                                <td width="10" style="padding: 0; color: #333333;"> </td>
                                                <td align="right" style="padding: 0; color: #333333;">
                                                    <font size="4" face="Open-sans, sans-serif" color="#555454">
                                                        71,50 €
                                                    </font>
                                                </td>
                                                <td width="10" style="padding: 0; color: #333333;"> </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                            </table>
                        </font>
                    </td>
                </tr>
                <tr>
                    <td class="box" style="background-color: #f8f8f8; border: 1px solid #D6D4D4;" bgcolor="#f8f8f8">
                        <table class="table" style="width: 100%;" width="100%">
                            <tr>
                                <td width="10"> </td>
                                <td>
                                    <font size="2" face="Open-sans, sans-serif" color="#555454">

                                        <p style="margin: 3px 0 7px 0; text-transform: uppercase; font-weight: 500; font-size: 18px; padding-bottom: 10px; border-bottom: 1px solid #D6D4D4;">
                                            Livraison
                                        </p>

                                        <span style="color: #777777;">
              <span style="color: #333333;"><strong>Transporteur :</strong></span> Domicile<br><br>
              <span style="color: #333333;"><strong>Paiement :</strong></span> Card via Stripe
            </span>
                                    </font>
                                </td>
                                <td width="10"> </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="space_footer" style="padding: 0 !important;"> </td>
                </tr>
                <tr>
                    <td>
                        <table class="table" style="width: 100%;" width="100%">
                            <tr>
                                <td class="box address" width="310" style="background-color: #f8f8f8; border: 1px solid #D6D4D4;" bgcolor="#f8f8f8">
                                    <table class="table" style="width: 100%;" width="100%">
                                        <tr>
                                            <td width="10"> </td>
                                            <td>
                                                <font size="2" face="Open-sans, sans-serif" color="#555454">

                                                    <p style="margin: 3px 0 7px 0; text-transform: uppercase; font-weight: 500; font-size: 18px; padding-bottom: 10px; border-bottom: 1px solid #D6D4D4;">
                                                        Adresse de livraison
                                                    </p>
                                                    <span style="color: #777777;">
                      <span style="font-weight:bold;">Patricia</span> <span style="font-weight:bold;">Hatton</span><br />Hatton<br />14bis, rue paradou, Le mas des lièges<br />83490 LE MUY<br />France<br />0660793528
                    </span>

                                                    <span data-text-only="1" style="color: #777777;">
                    Patricia Hatton
Hatton
14bis, rue paradou, Le mas des lièges
83490 LE MUY
France
0660793528
                  </span>
                                                </font>
                                            </td>
                                            <td width="10"> </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="20" class="space_address"> </td>
                                <td class="box address" width="310" style="background-color: #f8f8f8; border: 1px solid #D6D4D4;" bgcolor="#f8f8f8">
                                    <table class="table" style="width: 100%;" width="100%">
                                        <tr>
                                            <td width="10"> </td>
                                            <td>
                                                <font size="2" face="Open-sans, sans-serif" color="#555454">

                                                    <p style="margin: 3px 0 7px 0; text-transform: uppercase; font-weight: 500; font-size: 18px; padding-bottom: 10px; border-bottom: 1px solid #D6D4D4;">
                                                        Adresse de facturation
                                                    </p>
                                                    <span style="color: #777777;">
                      <span style="font-weight:bold;">Patricia</span> <span style="font-weight:bold;">Hatton</span><br />Hatton<br />14bis, rue paradou, Le mas des lièges<br />83490 LE MUY<br />France<br />0660793528
                    </span>

                                                    <span data-text-only="1" style="color: #777777;">
                    Patricia Hatton
Hatton
14bis, rue paradou, Le mas des lièges
83490 LE MUY
France
0660793528
                  </span>
                                                </font>
                                            </td>
                                            <td width="10"> </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="space_footer" style="padding: 0 !important;"> </td>
                </tr>
                <tr>
                    <td class="linkbelow">
                        <font size="2" face="Open-sans, sans-serif" color="#555454">
      <span>
        Suivez votre commande et téléchargez votre facture sur notre site, rendez-vous dans la section <a href="https://pacap-detail.fr/fr/historique-commandes" target="_blank" style="color: #337ff1;">Historique et détails des commandes</a> de votre compte client.
      </span>
                        </font>
                    </td>
                </tr>
                <tr>
                    <td class="linkbelow">
                        <font size="2" face="Open-sans, sans-serif" color="#555454">
      <span>
        Si vous avez un compte invité, vous pouvez suivre votre commande via la section <a href="https://pacap-detail.fr/fr/suivi-commande-invite" target="_blank" style="color: #337ff1;">Suivi des invités</a> sur notre boutique.
      </span>
                        </font>
                    </td>
                </tr>

                <tr>
                    <td class="space_footer" style="padding: 0 !important;"> </td>
                </tr>
                <tr>
                    <td class="footer" style="border-top: 4px solid #333333">
                        <span><a href="https://pacap-detail.fr/fr/" style="color: #337ff1;">PACAP DETAIL</a> propulsé par <a href="https://www.prestashop.com/?utm_source=marchandprestashop&amp;utm_medium=e-mail&amp;utm_campaign=footer_1-7" style="color: #337ff1;">PrestaShop™</a></span>
                    </td>
                </tr>
            </table>
        </td>
        <td id="footer-right" class="space" style="width: 20px;" width="20"> </td>
    </tr>
</table>
</body>
</html>