{% extends 'base.html.twig' %}


{% block body %}

    <div class="breadcumb-wrapper " data-bg-src="assets/img/bg/breadcumb-bg.jpg" data-overlay="black" data-opacity="7">
        <div class="container">
            <div class="breadcumb-content text-center">
                <h1 class="breadcumb-title">Blog Details</h1>
                <ul class="breadcumb-menu">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>Blog Details</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="th-checkout-wrapper space-top space-extra-bottom">
        <div class="container">
            <div class="row">
                {% include 'user/_partials/_navigation.html.twig' %}
                <div class="col-9">
                    <div class="container">
                        <div class="woocommerce-notices-wrapper">
                            <div class="woocommerce-message">Shipping costs updated.</div>
                        </div>
                        <table class="tinvwl-table-manage-list">
                            <thead>
                            <tr>
                                <th class="product-price">Expéditeur </th>
                                <th class="product-date">Destinataire</th>
                                <th class="product-stock">Message</th>
                                <th class="product-action">Date</th>
                                <th class="product-action"></th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for consultation in consultation_emails %}
                                <tr class="wishlist_item">
                                    <td class="product-price">
                                       Votre Voyant
                                    </td>
                                    <td class="product-date">
                                      {{ app.user.profile.nom }}
                                    </td>
                                    <td class="product-stock">
                                     {{ consultation.Message | u.truncate(10, '...') }}
                                    </td>
                                    <td class="product-action">
                                        {{ consultation.createdAt | date('d m Y') }}
                                    </td>
                                    <td class="product-action">
                                        <a href="{{ path('user_consultation_email_show', {'id': consultation.Id} ) }}" class="button">Voir la réponse</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
