{% extends 'base.html.twig' %}

{% block title %}New ModeDeConsultation{% endblock %}

{% block body %}
    <h1>Create new ModeDeConsultation</h1>

    {{ include('admin/mode_de_consultation/_form.html.twig') }}

    <a href="{{ path('app_admin_mode_de_consultation_index') }}">back to list</a>
{% endblock %}
