{% extends 'admin.html.twig' %}

{% block title %}New Slider{% endblock %}

{% block body %}
<div class="container-fluid pt-4 px-4">
    <h1>Create new ArticleBlog</h1>
    <div class="row g-4">


    {{ include('admin/article_blog/_form.html.twig') }}
    </div>
</div>
    
{% endblock %}