{% extends 'base.html.twig' %}

{% block title %}Hello AvisController!{% endblock %}

{% block body %}
    <!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper " data-bg-src="assets/img/bg/breadcumb-bg.jpg" data-overlay="black" data-opacity="7">
        <div class="container">
            <div class="breadcumb-content text-center">
                <h1 class="breadcumb-title">Services</h1>
                <ul class="breadcumb-menu">
                    <li><a href="index.html">Home</a></li>
                    <li>Services</li>
                </ul>
            </div>
        </div>
    </div>

    <!--==============================
Testimonial Area  
==============================-->
    <section class="testi-area-2 space">
        <div class="container">
            <div class="title-area text-center">
                <span class="sub-title">Testimonial</span>
                <h2 class="sec-title">What Clients Say About Us</h2>
            </div>
            <div class="row slider-shadow th-carousel arrow-style2" data-slide-show="2" data-lg-slide-show="2" data-md-slide-show="1" data-arrows="true">
                <div class="col-lg-6">
                    <div class="testi-card style2">
                        <div class="testi-card_profile">
                            <div class="media-left">
                                <div class="testi-card_avater">
                                    <img src="assets/img/testimonial/testi_2_1.jpg" alt="testimonial">
                                </div>
                                <div class="testi-box_review">
                                    <i class="fa-solid fa-star-sharp"></i>
                                    <i class="fa-solid fa-star-sharp"></i>
                                    <i class="fa-solid fa-star-sharp"></i>
                                    <i class="fa-solid fa-star-sharp"></i>
                                    <i class="fa-solid fa-star-sharp"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <p class="testi-card_text">They took the time to thoroughly inspect my roof and identify all of the issues, and then came up with a comprehensive plan to address them. The team was skilled and efficient, and completed the job.</p>
                                <div class="media">
                                    <div class="testi-box_quote">
                                        <img src="assets/img/icon/blog-quote2.svg" alt="quote">
                                    </div>
                                    <div class="media-body">
                                        <h3 class="testi-card_name">Ronald Richards</h3>
                                        <span class="testi-card_desig">Founder CEO</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testi-card style2">
                        <div class="testi-card_profile">
                            <div class="media-left">
                                <div class="testi-card_avater">
                                    <img src="assets/img/testimonial/testi_2_2.jpg" alt="testimonial">
                                </div>
                                <div class="testi-box_review">
                                    <i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <p class="testi-card_text">The team was professional & efficient. The quality of work was outstanding & I would to recommend them to anyone in need of roofing services. Highly recommend this company for any roofing needs.</p>
                                <div class="media">
                                    <div class="testi-box_quote">
                                        <img src="assets/img/icon/blog-quote2.svg" alt="quote">
                                    </div>
                                    <div class="media-body">
                                        <h3 class="testi-card_name">Ralph Edwards</h3>
                                        <span class="testi-card_desig">Regular Customer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testi-card style2">
                        <div class="testi-card_profile">
                            <div class="media-left">
                                <div class="testi-card_avater">
                                    <img src="assets/img/testimonial/testi_2_1.jpg" alt="testimonial">
                                </div>
                                <div class="testi-box_review">
                                    <i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <p class="testi-card_text">They took the time to thoroughly inspect my roof and identify all of the issues, and then came up with a comprehensive plan to address them. The team was skilled and efficient, and completed the job.</p>
                                <div class="media">
                                    <div class="testi-box_quote">
                                        <img src="assets/img/icon/blog-quote2.svg" alt="quote">
                                    </div>
                                    <div class="media-body">
                                        <h3 class="testi-card_name">Ronald Richards</h3>
                                        <span class="testi-card_desig">Founder CEO</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testi-card style2">
                        <div class="testi-card_profile">
                            <div class="media-left">
                                <div class="testi-card_avater">
                                    <img src="assets/img/testimonial/testi_2_2.jpg" alt="testimonial">
                                </div>
                                <div class="testi-box_review">
                                    <i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <p class="testi-card_text">The team was professional & efficient. The quality of work was outstanding & I would to recommend them to anyone in need of roofing services. Highly recommend this company for any roofing needs.</p>
                                <div class="media">
                                    <div class="testi-box_quote">
                                        <img src="assets/img/icon/blog-quote2.svg" alt="quote">
                                    </div>
                                    <div class="media-body">
                                        <h3 class="testi-card_name">Ralph Edwards</h3>
                                        <span class="testi-card_desig">Regular Customer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
