{% extends 'base.html.twig' %}

{% block title %}Hello AvisController!{% endblock %}

{% block body %}
    <!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper " data-bg-src="assets/img/bg/breadcumb-bg.jpg" data-overlay="black" data-opacity="7">
        <div class="container">
            <div class="breadcumb-content text-center">
                <h1 class="breadcumb-title">Services</h1>
                <ul class="breadcumb-menu">
                    <li><a href="index.html">Home</a></li>
                    <li>Services</li>
                </ul>
            </div>
        </div>
    </div>

    <!--==============================
Testimonial Area  
==============================-->
    <section class="testi-area-2 space">
        <div class="container">
            <div class="title-area text-center">
                <span class="sub-title">Testimonial</span>
                <h2 class="sec-title">What Clients Say About Us</h2>
            </div>
            <div class="row">

                {% for avis in avis %}

                <div class="col-lg-6 mb-3">
                    <div class="testi-card style2">
                        <div class="testi-card_profile">
                            <div class="media-left">
                                <div class="testi-card_avater">
                                    {% if avis.Client.Customer.imageName is not null %}
                                            <img src="{{ asset('assets/img/profile/' ~ avis.Client.Customer.imageName) }}" height="100" width="100" alt="image" class="img-fluid">
                                            {% else %}
                                            <i class="icoprofile fa-solid fa-{{avis.Client.Customer.Pseudo|first}}"></i>
                                            {% endif %}
                                </div>
                                <div class="testi-box_review">
                                    <i class="fa-solid fa-star-sharp" {% if avis.Note > 4 %} style="color:yellow" {% endif %}></i>
                                    <i class="fa-solid fa-star-sharp" {% if avis.Note > 3 %} style="color:yellow" {% endif %}></i>
                                    <i class="fa-solid fa-star-sharp" {% if avis.Note > 2 %} style="color:yellow" {% endif %}></i>
                                    <i class="fa-solid fa-star-sharp" {% if avis.Note > 1 %} style="color:yellow" {% endif %}></i>
                                    <i class="fa-solid fa-star-sharp" {% if avis.Note > 0 %} style="color:yellow" {% endif %}></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <p class="testi-card_text">
                                    {{ avis.comment }}
                                </p>
                                <div class="media">
                                    <div class="testi-box_quote">
                                        <img src="assets/img/icon/blog-quote2.svg" alt="quote">
                                    </div>
                                    <div class="media-body">
                                        <h3 class="testi-card_name">{{ avis.Client.Customer.Pseudo }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </section>

{% endblock %}
