{% extends 'base.html.twig' %}

{% block title %}Hello AboutusController!
{% endblock %}

{% block body %}
	<div class="breadcumb-wrapper " data-bg-src="assets/img/bg/breadcumb-bg.jpg" data-overlay="black" data-opacity="7">
		<div class="container">
			<div class="breadcumb-content text-center">
				<h1 class="breadcumb-title">About Us</h1>
				<ul class="breadcumb-menu">
					<li>
						<a href="index.html">Home</a>
					</li>
					<li>About Us</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="overflow-hidden overflow-hidden space" id="about-sec">
		<div class="container">
			<div class="row">
				<div class="col-xxl-7 col-xl-6  mb-50 mb-xl-0">
					<div class="img-box2">
						<div class="img1">
							<img class="tilt-active" src="assets/img/normal/about_2_1.png" alt="About">
						</div>
						<div class="img2">
							<img class="tilt-active" src="assets/img/normal/about_2_2.png" alt="About">
						</div>
						<div class="img3">
							<img class="tilt-active" src="assets/img/normal/about_2_3.png" alt="About">
						</div>
						<div class="shape1 shape-mockup jump" data-bottom="0" data-left="0">
							<img src="assets/img/normal/about_2_1shape.png" alt="About">
						</div>
					</div>
				</div>
				<div class="col-xxl-5 col-xl-6">
					<div class="title-area mb-35">
						<span class="sub-title">About Ruffer</span>
						<h2 class="sec-title">Roofing is our heritage, Quality is our tradition</h2>
					</div>
					<p class="mt-n2 mb-35">Roofing Company's slogan "Roofing is our heritage, Quality is our tradition" Emphasizes their commitment to providing superior quality and complete Reliability to their customers They have built their objectives</p>
					<div class="about-grid-wrap mb-40">
						<div class="thumb"><img class="tilt-active" src="assets/img/normal/about_2_4.png" alt="img"></div>
						<div class="details">
							<div class="about-grid">
								<h3 class="about-grid_year">
									<span class="counter-number">25</span>+</h3>
								<span class="about-grid_text">Years Experience
									<br>
									Company</span>
							</div>
							<p class="mb-n2">Ruffers construct and fix roofs using hand tools and other equipment They ensure roofs are stable and waterproof.</p>
						</div>
					</div>
					<div class="checklist mb-45">
						<ul>
							<li>
								<i class="fa-regular fa-circle-check"></i>
								Find their name on official business listings</li>
							<li>
								<i class="fa-regular fa-circle-check"></i>
								Require manufacturer warranties</li>
						</ul>
					</div>
					<a href="about.html" class="th-btn">READ MORE<i class="fa-regular fa-arrow-right ms-2"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="space-bottom">
		<div class="container">
			<div
				class="row gy-30 justify-content-center">
				<!-- Single Item -->
				<div class="col-sm-6 col-xl-4 col-lg-6 col-md-4">
					<div class="about-feature2">
						<div class="feature_icon">
							<img src="assets/img/icon/feature-icon1.svg" alt="Icon">
						</div>
						<div class="media-body">
							<h3 class="box-title">Our Mission</h3>
							<p class="about-feature_text">Roofing mission refers to the specific goals and objectives that Roofing company aims to
							</p>
						</div>
					</div>
				</div>

				<!-- Single Item -->
				<div class="col-sm-6 col-xl-4 col-lg-6 col-md-4">
					<div class="about-feature2">
						<div class="feature_icon">
							<img src="assets/img/icon/feature-icon2.svg" alt="Icon">
						</div>
						<div class="media-body">
							<h3 class="box-title">Our Vision</h3>
							<p class="about-feature_text">Roofing vision refers to the overall purpose or mission that a roofing companys to achieve</p>
						</div>
					</div>
				</div>

				<!-- Single Item -->
				<div class="col-sm-6 col-xl-4 col-lg-6 col-md-4">
					<div class="about-feature2">
						<div class="feature_icon">
							<img src="assets/img/icon/feature-icon3.svg" alt="Icon">
						</div>
						<div class="media-body">
							<h3 class="box-title">Trusted Services</h3>
							<p class="about-feature_text">If your roof is beyond repair, a roofing contractor may recommend a full roof replace.</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

    {% include '_partials/cta.html.twig' %}
{% endblock %}
