{% extends 'base.html.twig' %}


{% block body %}
	<div class="breadcumb-wrapper " data-bg-src="assets/img/bg/breadcumb-bg.jpg" data-overlay="black" data-opacity="7">
		<div class="container">
			<div class="breadcumb-content text-center">
				<h1 class="breadcumb-title">Checkout</h1>
				<ul class="breadcumb-menu">
					<li>
						<a href="index.html">Home</a>
					</li>
					<li>Checkout</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="th-checkout-wrapper space-top space-extra-bottom">
		<div class="container">
			<div class="row">
                <div class="col-6 mx-auto">
					<div class="woocommerce-form-login-toggle">
						<div class="woocommerce-info">Créer un compte</div>
					</div>
					<form method="post" class="woocommerce-form-login">
					    {% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}
						<div class="form-group">
							<label>email *</label>
							<input type="email" value="{{ last_username }}" name="email" class="form-control" autocomplete="email" required autofocus>
						</div>
						<div class="form-group">
							<label>Password *</label>
							<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
							    <input type="hidden" name="_csrf_token"  value="{{ csrf_token('authenticate') }}" >
						</div>
						<div class="form-group">
							<div class="custom-checkbox">
								<input id="_remember_me" type="checkbox" name="_remember_me">
								<label for="_remember_me">Condition général d'utilisation</label>
							</div>
						</div>
						<div class="form-group">
							<button type="submit" class="th-btn">Enregistez vous</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %} 