{% extends 'base.html.twig' %}

{% block body %}
 <div class="breadcumb-wrapper " data-bg-src="assets/img/bg/breadcumb-bg.jpg" data-overlay="black" data-opacity="7">
        <div class="container">
            <div class="breadcumb-content text-center">
                <h1 class="breadcumb-title">Services Details</h1>
                <ul class="breadcumb-menu">
                    <li><a href="index.html">Home</a></li>
                    <li>Services Details</li>
                </ul>
            </div>
        </div>
    </div>

    <section class="space-top space-extra2-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xxl-8 col-lg-8">
                    <div class="page-single">
                        <div class="page-img mb-30">
                            <img src="assets/img/service/service-details.png" alt="Service Image">
                        </div>
                        <div class="page-content">
                            <h2 class="h3 page-title">Protect Your Roof from Storm</h2>
                            <p class="mb-30">When it comes to protecting your roof from storms, there are several features you can add to your roof to increase its durability and resistance. One of the most popular features is impact-resistant shingles. These shingles are specially designed to withstand hail, high winds, and other extreme weather conditions. They come in a variety of materials and styles, including asphalt, metal, and tile.</p>
                            <p class="mb-30">Another important feature is the use of hurricane straps or clips. These metal connectors are designed to secure the roof to the walls and provide extra strength to the roof's structure during a storm. They are especially critical in areas that are prone to hurricanes and other severe weather events.</p>
                            <p class="mb-25">Proper ventilation is also important to prevent moisture buildup, which can weaken the roof over time. A well-ventilated roof allows air to flow through the attic and roof system,</p>
                            <h3 class="h5">Extra Roofing Services</h3>
                            <p class="mb-25">Roof cleaning: Professional roof cleaning can remove debris, mold, and mildew, improving the appearance of your roof and Prolonging its lifespan.</p>
                            <div class="row gy-30">
                                <div class="col-lg-4">
                                    <div class="service-box">
                                        <div class="service-bg-shape">
                                            <img src="assets/img/service/service_box_shape1.jpg" alt="img">
                                        </div>
                                        <div class="service-box_content">
                                            <div class="service-default-icon">
                                                <img src="assets/img/icon/service-icon-3-1.svg" alt="Icon">
                                                <span class="dots"></span>
                                            </div>
                                            <h3 class="box-title"><a href="service-details.html" tabindex="0">Roof Plumbing</a></h3>
                                            <p class="service-box_text">Roof plumbing candescribed as any work that includes renovating,</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="service-box">
                                        <div class="service-bg-shape">
                                            <img src="assets/img/service/service_box_shape1.jpg" alt="img">
                                        </div>
                                        <div class="service-box_content">
                                            <div class="service-default-icon">
                                                <img src="assets/img/icon/service-icon-3-2.svg" alt="Icon">
                                                <span class="dots"></span>
                                            </div>
                                            <h3 class="box-title"><a href="service-details.html" tabindex="0">Quality Material</a></h3>
                                            <p class="service-box_text">Using quality materials is an essential factor in Protecting your roof</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="service-box">
                                        <div class="service-bg-shape">
                                            <img src="assets/img/service/service_box_shape1.jpg" alt="img">
                                        </div>
                                        <div class="service-box_content">
                                            <div class="service-default-icon">
                                                <img src="assets/img/icon/service-icon-3-3.svg" alt="Icon">
                                                <span class="dots"></span>
                                            </div>
                                            <h3 class="box-title"><a href="service-details.html" tabindex="0">Expert Engineer</a></h3>
                                            <p class="service-box_text">Overall, hiring an expert Engineer is an essential Step in protecting your</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-area style2 accordion mb-40 mt-40" id="faqAccordion">


                                <div class="accordion-card bg-smoke ">
                                    <div class="accordion-header" id="collapse-item-1">
                                        <button class="accordion-button bg-smoke collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">How often do you need to repair a roof?</button>
                                    </div>
                                    <div id="collapse-1" class="accordion-collapse collapse " aria-labelledby="collapse-item-1" data-bs-parent="#faqAccordion">
                                        <div class="accordion-body">
                                            <p class="faq-text">The length of time it takes to repair a roof can vary depending on the type and extent of damage, the size and complexity of the roof, and the weather conditions. In general, a simple roof repair, such as fixing a small leak, can take a few hours to complete. However, more complex repairs, such as replacing large sections of damaged roofing or repairing structural damage, can take several days.</p>
                                        </div>
                                    </div>
                                </div>


                                <div class="accordion-card bg-smoke active">
                                    <div class="accordion-header" id="collapse-item-2">
                                        <button class="accordion-button bg-smoke " type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">How long should a roof repair take?</button>
                                    </div>
                                    <div id="collapse-2" class="accordion-collapse collapse show" aria-labelledby="collapse-item-2" data-bs-parent="#faqAccordion">
                                        <div class="accordion-body">
                                            <p class="faq-text">The length of time it takes to repair a roof can vary depending on the type and extent of damage, the size and complexity of the roof, and the weather conditions. In general, a simple roof repair, such as fixing a small leak, can take a few hours to complete. However, more complex repairs, such as replacing large sections of damaged roofing or repairing structural damage, can take several days.</p>
                                        </div>
                                    </div>
                                </div>


                                <div class="accordion-card bg-smoke ">
                                    <div class="accordion-header" id="collapse-item-3">
                                        <button class="accordion-button bg-smoke collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">How often do you need to repair a roof?</button>
                                    </div>
                                    <div id="collapse-3" class="accordion-collapse collapse " aria-labelledby="collapse-item-3" data-bs-parent="#faqAccordion">
                                        <div class="accordion-body">
                                            <p class="faq-text">The length of time it takes to repair a roof can vary depending on the type and extent of damage, the size and complexity of the roof, and the weather conditions. In general, a simple roof repair, such as fixing a small leak, can take a few hours to complete. However, more complex repairs, such as replacing large sections of damaged roofing or repairing structural damage, can take several days.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-lg-4">
                    <aside class="sidebar-area">
                        <div class="widget widget_categories  ">
                            <h3 class="widget_title">All Services</h3>
                            <ul>
                                <li><a href="service-details.html">Commercial Building</a><span>(08)</span></li>
                                <li><a href="service-details.html">Residential Building</a> <span>(12)</span></li>
                                <li><a href="service-details.html">Modified Roofing</a><span>(15)</span></li>
                                <li><a href="service-details.html">Vegetative Roofing</a><span>(21)</span></li>
                                <li><a href="service-details.html">Single Ply Roofing</a><span>(14)</span></li>
                                <li><a href="service-details.html">Specialty Roofing</a><span>(05)</span></li>
                            </ul>
                        </div>
                        <div class="widget widget_banner  " data-bg-src="assets/img/widget/widget-banner-bg.png">
                            <div class="widget-banner">
                                <div class="icon-btn"><img src="assets/img/icon/widget-banner-icon.svg" alt="img"></div>
                                <h5 class="title">Need an Consulting</h5>
                                <a href="tel:+11156456825" class="link">+111 (564) 568 25</a>
                                <a href="mailto:quick.help@gmail.com" class="link">quick.help@gmail.com</a>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>

    <section class="cta-area-3 bg-theme" data-bg-src="assets/img/bg/newsletter-bg.png">
        <div class="cta-thumb3 shape-mockup d-lg-block d-none" data-top="0" data-left="0"><img src="assets/img/bg/cta-bg3.png" alt="img"></div>
        <div class="container">
            <div class="row justify-content-end align-items-center">
                <div class="col-lg-5 col-md-7">
                    <div class="title-area mb-0 me-xl-5 text-md-start text-center">
                        <h2 class="sec-title h3 text-white">The mission is to provide Best Roofing</h2>
                    </div>
                </div>
                <div class="col-lg-3 col-md-5 mt-40 mt-md-0 text-md-end text-center">
                    <a href="contact.html" class="th-btn style2">Contact Us<i class="fa-regular fa-arrow-right ms-2"></i></a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}